body {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  background-color: rgb(213, 186, 152);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.box {
  background: white;
  opacity: 0.85;
  padding: 70px 100px 40px 100px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  border-radius: 20px;
}

.form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
}

.form h1 {
  text-align: center;
  margin-bottom: 40px;
}

input[type="text"].form-control,
input[type="password"].form-control,
input[type="email"].form-control,
input[type="tel"].form-control {
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  width: calc(100%-36px);
  border: 2px solid black;
  padding: 16px;
  border-radius: 48px;
  transition: all 0.3s ease;
  margin: 10px;
}

input[type="text"].form-control:hover,
input[type="password"].form-control:hover,
input[type="email"].form-control:hover,
input[type="tel"].form-control:hover {
  border: 2px solid rgb(213, 186, 152);
}

input[type="text"].form-control:focus,
input[type="password"].form-control:focus {
  border: 2px solid rgb(213, 186, 152);
}

.modify {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  outline: none;
  background: black;
  color: white;
  padding: 16px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.modify:hover {
  box-shadow: 5px 5px 5px gray;
}

.password_modify {
  padding: 10px;
  text-decoration: underline;
}
